/* header */
.container-header {
  display: flex;
}

header {
  background-color: rgb(10, 40, 91);
  margin-bottom: 1rem;
  padding: 0.8rem;
}

#logo {
  font-size: 2.4rem;
  color: white;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  margin: 0;
  margin-left: 0;
  height: 3rem;
}

#logo-f {
  font-size: 2.4rem;
  color: white;
  font-family: "Cinzel", serif;
  font-weight: bold;
  margin: 0;
  margin-right: 0;
  height: 3rem;
}

.container-logo {
  display: flex;
  height: 3rem;
  margin-top: 1.7rem;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}

ul {
  padding: 0;
}

.navigation {
  width: 1.8rem;
}

.navigation-spy {
  width: 1.35rem;
}

.navigation-shopping {
  width: 2.2rem;
}

.navigation-login {
  width: 2.1rem;
}

@media screen and (max-width: 726px) {
  #logo,
  #logo-f {
    font-size: 2rem;
  }
  .container-header {
    flex-direction: column;
  }
  .container-logo {
    margin-bottom: 0rem;
  }
  nav {
    padding-top: 0rem;
    height: 2.3rem;
  }

  ul {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 399px) {
  #logo,
  #logo-f {
    font-size: 1.6rem;
  }
}

/* main */
body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: "left right";
  gap: 1rem;
}

.left {
  background-color: rgb(238, 221, 255);
  border-radius: 0.2rem;
  justify-content: center;
}

.right {
  background-color: rgb(221, 255, 222);
  border-radius: 0.2rem;
}

.container-text {
  display: grid;
  grid-template-areas: ". text .";
}

.home-text {
  padding-left: 1.9rem;
  font-family: "Karla", serif;
  width: 25rem;
}

.home-title {
  font-size: 2rem;
}

.home-button {
  width: 12rem;
  height: 4rem;
  font-family: "Karla", serif;
  font-size: 1.1rem;
  background-color: rgb(10, 40, 91);
  border-radius: 0.4rem;
  border: solid rgb(10, 40, 91);
  color: white;
  transition-duration: 0.3s;
}

.home-button:hover {
  background-color: white;
  color: rgb(10, 40, 91);
}

.home-b {
  display: block;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  width: 12rem;
  height: 4rem;
}
.balloon-size {
  width: 20rem;
}
.ballon-snake {
  width: 100%;
}

@media screen and (max-width: 726px) {
  .right {
    height: 6rem;
  }
  .container {
    display: grid;
    grid-template-areas:
      "left"
      "right";
  }
}

@media screen and (max-width: 450px) {
  .home-text {
    width: 20rem;
  }
}

/* footer */
footer {
  background-color: rgb(10, 40, 91);
  color: white;
  font-family: "Karla", serif;
  margin-top: 1rem;
  padding: 0.8rem;
  padding-left: 1.9rem;
}

footer p {
  margin: 0;
}

/* Categories */
.container-categories {
  display: grid;
  grid-template-areas:
    " img img img img"
    " img img img img";
  gap: 0.7rem;
  justify-content: center;
  margin-top: 1rem;
}

#cat-title {
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}

.categories {
  background-color: white;
  color: black;
  height: 5rem;
  width: 10rem;
  transition-duration: 0.3s;
  text-align: center;
  margin: 0;
}

.cat {
  font-family: "Karla", serif;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
/* changing color on hover */
#fantasy {
  border-radius: 0.4rem;
  border: solid rgb(158, 157, 160);
}

#fantasy:hover {
  background-color: rgb(101, 179, 101);
  border: solid rgb(101, 179, 101);
}

#romance {
  border: solid rgb(158, 157, 160);
  border-radius: 0.4rem;
}

#romance:hover {
  background-color: lightpink;
  border: solid lightpink;
}

#thrillers {
  border: solid rgb(158, 157, 160);
  border-radius: 0.4rem;
}

#thrillers:hover {
  background-color: darkgrey;
  border: solid darkgray;
}

#horror {
  border: solid rgb(158, 157, 160);
  border-radius: 0.4rem;
}

#horror:hover {
  background-color: rgb(200, 96, 96);
  border: solid rgb(200, 96, 96);
}

#mystery {
  border: solid rgb(158, 157, 160);
  border-radius: 0.4rem;
}

#mystery:hover {
  background-color: rgb(124, 140, 191);
  border: solid rgb(124, 140, 191);
}

#mythology {
  border: solid rgb(158, 157, 160);
  border-radius: 0.4rem;
}

#mythology:hover {
  background-color: rgb(197, 160, 221);
  border: solid rgb(197, 160, 221);
}

#historical {
  border: solid rgb(158, 157, 160);
  border-radius: 0.4rem;
}

#historical:hover {
  background-color: rgb(235, 209, 142);
  border: solid rgb(235, 209, 142);
}

#sci-fi {
  border: solid rgb(158, 157, 160);
  border-radius: 0.4rem;
}

#sci-fi:hover {
  background-color: lightsteelblue;
  border: solid lightsteelblue;
}

#cat-footer {
  margin-top: 3rem;
}

.book-header-fig {
  margin: 0;
  margin-top: 2rem;
}

.book-header {
  width: 100%;
}

.line-fig {
  height: 1rem;
  width: 43rem;
  margin: auto;
}

.line {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1260px) {
  .categories {
    height: 7rem;
    width: 14rem;
    text-align: center;
  }
  .cat {
    padding-top: 1.1rem;
    font-size: 1.5rem;
  }
  .line-fig {
    width: 80rem;
  }
  .book-header-fig {
    width: 75%;
    margin: auto;
  }
}
@media screen and (max-width: 725px) {
  .container-categories {
    display: grid;
    grid-template-areas:
      " img img"
      "img img"
      " img img"
      "img img";
  }
  .line-fig {
    visibility: hidden;
  }
  .book-header-fig {
    visibility: hidden;
    height: 0rem;
  }
}

/* Products */
.container-products {
  display: grid;
  grid-template-areas:
    " img img img img"
    " img img img img"
    "img img img img";
  justify-content: center;
  gap: 1rem;
}

.products {
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  border-color: rgba(230, 230, 230, 0.642);
  border-style: solid;
  box-shadow: 2px 2px 2px rgba(180, 180, 180, 0.645);
  width: 10rem;
  height: 18.5rem;
  margin: 0;
}

.book {
  width: 100%;
}

.book-fig {
  margin: 1rem;
  margin-bottom: 0.2rem;
}

.book-buy {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  border-style: solid;
}

.plus {
  width: 90%;
  padding-top: 0.2rem;
  padding-left: 0.05rem;
  justify-self: center;
}

.book-info {
  display: flex;
  color: black;
  gap: 4rem;
  margin-top: 0.6rem;
}

.book-price {
  margin: 0;
  margin-left: 1rem;
  font-family: "Karla", serif;
  font-size: 1rem;
  padding-top: 0.1rem;
}

figcaption {
  color: rgb(68, 68, 68);
  font-family: "Karla", serif;
  font-size: 0.8rem;
}

figcaption p {
  margin: 0;
}

.book-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

@media screen and (min-width: 1260px) {
  .products {
    width: 16rem;
    height: 28rem;
    margin: 0;
  }

  .book-info {
    gap: 9.5rem;
  }
}

@media screen and (max-width: 750px) {
  .container-products {
    display: grid;
    grid-template-areas:
      " img img img"
      " img img img"
      "img img img"
      "img img img";
  }
}
@media screen and (max-width: 565px) {
  .container-products {
    display: grid;
    grid-template-areas:
      " img img"
      " img img"
      "img img"
      "img img"
      "img img"
      "img img";
  }
}
@media screen and (max-width: 370px) {
  .container-products {
    display: grid;
    grid-template-areas:
      " img"
      "img"
      "img"
      "img"
      "img"
      "img"
      "img"
      "img"
      "img"
      "img"
      "img"
      "img";
  }
  .products {
    width: 17rem;
    height: 30rem;
    margin: 0;
  }
  .book-info {
    gap: 10.5rem;
  }
}

/* Product detail */

.container-detail {
  display: grid;
  grid-template-areas: "img text";
  justify-content: center;
}

.image-dune {
  height: 100%;
}
.dune-detail {
  height: 35rem;
}

.dune-left {
  grid-area: img;
}

.dune-text {
  grid-area: text;
}

.detail-info {
  font-family: "Karla", serif;
  width: 20rem;
  text-align: justify;
}

.title-dune {
  font-family: "Karla", serif;
  font-size: 2rem;
  margin-bottom: 0.3rem;
  margin-top: 0.6rem;
}

.frank-dune {
  font-family: "Karla", serif;
  font-size: 1.2rem;
  margin-top: 0;
}

.detail-price {
  display: flex;
  gap: 8rem;
}

.price-font {
  font-family: "Karla", serif;
  font-size: 1.2rem;
}

#add-cart {
  margin-top: 0.5rem;
  width: 8rem;
  height: 3rem;
  font-family: "Karla", serif;
  font-size: 1rem;
  color: white;
  border: solid rgb(10, 40, 91);
  border-radius: 0.3rem;
  background-color: rgb(10, 40, 91);
}

@media screen and (max-width: 880px) {
  .container-detail {
    grid-template-areas: "img" "text";
  }
  .dune-text {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 430px) {
  .dune-detail {
    height: 28rem;
  }
  .dune-text {
    margin-left: 2.8rem;
  }

  .detail-info {
    font-family: "Karla", serif;
    width: 18rem;
    text-align: justify;
  }
  .detail-price {
    display: flex;
    gap: 7rem;
  }
}
/* Shopping cart */

.container-cart {
  display: grid;
  grid-template-areas: "color1 buy color2";
}

.cart-page {
  grid-area: buy;
  width: 30rem;
}

.cart2 {
  grid-area: color1;
  background-color: rgba(14, 53, 121, 0.726);
}

.cart3 {
  grid-area: color2;
  background-color: rgba(14, 53, 121, 0.726);
}

.no-margin {
  margin-bottom: 0;
  margin-top: 0;
}

.cart-book {
  width: 10rem;
  height: 17rem;
}

.book-buying {
  width: 100%;
}

#dune-display {
  display: none;
  gap: 1rem;
}

#babel-display {
  display: none;
  gap: 1rem;
}

.minus {
  margin-top: 0.8rem;
  height: 2rem;
  width: 2rem;
  border: solid rgba(218, 218, 218, 0.642);
  border-radius: 0.3rem;
}

.plus-cart {
  margin-top: 0.8rem;
  height: 2rem;
  width: 2rem;
  border: solid rgba(218, 218, 218, 0.642);
  border-radius: 0.3rem;
}

.number {
  margin-top: 0.8rem;
  font-family: "Karla", serif;
  font-size: 1.1rem;
  border: solid rgb(209, 209, 209);
  border-radius: 0.3rem;
  height: 1.4rem;
  padding-top: 0.25rem;
  width: 3rem;
  text-align: center;
}

.plus-cart-img {
  width: 80%;
  padding-top: 0.2rem;
}

.minus-img {
  width: 80%;
  padding-top: 0.3rem;
}

.cart-title {
  margin-top: 6rem;
  margin-bottom: 0;
  font-family: "Karla", serif;
}

.cart-author {
  font-family: "Karla", serif;
  font-size: 0.7rem;
  margin: 0;
  color: rgb(68, 68, 68);
}

.add-delete {
  display: flex;
  gap: 1rem;
  height: 4rem;
}

.cart-price {
  margin: 0;
  font-family: "Karla", serif;
  color: rgb(10, 40, 91);
  font-weight: bold;
}

.buy-now-button {
  margin-left: 30rem;
  margin-bottom: 2rem;
  width: 6rem;
  height: 2.5rem;
  font-family: "Karla", serif;
  font-size: 1rem;
  color: white;
  border: solid rgb(10, 40, 91);
  border-radius: 0.3rem;
  background-color: rgb(10, 40, 91);
}
